@charset "utf-8";

/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
   font-family: 'NEXON Lv2 Gothic';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

html { background-color: rgb(105, 105, 105); scroll-behavior: smooth;}
body {
   background-color: #f7f7f7;
    margin: 0;
    font-family: 'NEXON Lv2 Gothic', 'Courier New', Courier, monospace, sans-serif;
    }
a {
   text-decoration: none; color: inherit;
}

/**** 헤더 ****/

header { background-color: white; border-bottom: 1px solid rgba(0,0,0,0.2); height: 70px; position: sticky; top: 0; z-index: 1; }
header h1 { margin: 0; padding: 0 30px; line-height: 70px; }
header h1 a { display: block; width: 80px; }
header h1 img { width: 80px; vertical-align: middle; }
header menu { display: flex; margin: 0; position: absolute; top:0; right: 30px; text-transform: uppercase; font-weight: 600; color: #121242; align-items: center; height: 70px; }
header menu > li { list-style: none; margin: 0; height: 100%; line-height: 31px; }
header menu > li > a { display: block; padding: 20px; }
header menu > li > a:hover { background-color: #121242; color: white;  }
header menu > li:hover ul { transform: translateY(-30px);transition: 0.5s; opacity: 1; }
header menu > li:hover ul > li { display: block;  transition: 0.4s; }
header menu li > ul { padding: 0; margin: 0; background-color: white; display: flex; flex-flow: column; position: absolute; border: 1px solid #CACACA; border-top: none; color: #424242; top: 100px; opacity: 0; }
header menu li > ul > li { list-style: none; display: none; padding: 0; width: 200px; font-weight: 400; }
header menu li > ul > li a { display: block; width: 100%; padding: 10px 0 10px 15px; font-size: 0.9rem; transition: 0.4s; }
header menu li > ul > li:hover { background-color: #f7f7f7; }
header menu li > ul > li a:hover { transform: translateX(3px); color: #121242; }

main .top_img { background: url(./image/img-03.jpg) no-repeat 100% / cover; height: 90vh; }
main .top_img img { height: 265px; position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto; }
main .top_img h2 { font-size: 1.4rem; font-weight: 600; color: #121242; text-align: center; width: 300px; height: 30px; position: absolute; top: 350px; bottom: 0; right: 0; left: 0; margin: auto; }
main .top_img input.pre { border: none; background-color: rgba(0,0,0,0.3); color: white; border-radius: 2px; width: 50px; height: 50px; cursor: pointer; transition: 0.3s; position: absolute; top: 400px; left: 0; font-size: 25px; }
main .top_img input.next { border: none; background-color: rgba(0,0,0,0.3); color: white; border-radius: 2px; width: 50px; height: 50px; cursor: pointer; transition: 0.3s; position: absolute; top: 400px; right: 0; font-size: 25px; }
main .top_img input:hover { background-color: rgba(0,0,0,0.7); }
main .top_img a { display: block; width: 10px; height: 10px; position: absolute; top: 680px; bottom: 0; right: 0; left: 0; margin: auto; }
main .top_img svg { fill: white; height: 22px; position: absolute; bottom: -50px; }

main .list { color: #121242; height: 30vw; min-height: 300px; }
main .list ol { display: flex; flex-flow: row wrap ; justify-content: center; text-align: center; list-style: none; padding: 0; width: 80%; line-height: 1.8; margin: 100px auto; }
main .list ol li { width: 20%; min-width: 200px; margin: 25px; padding: 0; position: relative; }
main .list ol li h3 { font-size: 1.35rem; }
main .list ol li p { font-size: 1.1rem; }
main .list ol li:hover .number { background-color: #121242; color: #ffffff; transition: 0.5s; }
main .list ol li .number { border: #CACACA solid 1px; width: 100px; height: 100px; border-radius: 50%; line-height: 100px; font-size: 2.2rem; font-weight: 400; color: #424242; margin: 20px auto 0; position: relative; }
main .list ol li .number .line { background-color: #121242; width: 0px; height: 2.5px; position: absolute; top: 48px; left: 6.2vw; }
ol li:nth-child(1)::after, ol li:nth-child(2):after, ol li:nth-child(3):after { content: ""; background-color: #CACACA; height: 1px; width: 11.5vw; position: absolute; top:70px; left: 11.5vw; transition-timing-function: linear; }
main .list ol li:hover .line{ background-color: #121242; height: 2.5px; width: 11.5vw; transition: 0.4s; transform: scaleY(11.5vw); z-index: 1; }

main .intro1 { color: #121242; text-align: center; height: 500px; display: flex; margin-top: 80px; }
main .intro1 .text_box { width: 50%; margin: 0; }
main .intro1 .text_box h3 { font-size: 1rem; font-weight: 400; letter-spacing: 1px; margin: 0; }
main .intro1 .text_box p { font-size: 3.8rem; margin: 20px 0 40px; }
main .intro1 .text_box a { background-color: #121242; display: block; width: 150px; height: 53px; color: white; font-size: 0.9rem; line-height: 53px; margin: auto; border-radius: 5px; font-weight: 600; padding-left: 7px; }
main .intro1 .text_box a:hover { transform: translateY(-5px); transition: 0.5s; }
main .intro1 .text_box a::after { content: ">"; padding: 6px; font-family: cursive; }
main .intro1 img { width: 50%; height: 75%; object-fit: cover; }

main .intro2 { background-color: #121242; color: white; display: flex; height: 700px; text-align: center; align-items: center; padding-bottom: 50px; }
main .intro2 img { width: 50%; height: 75%; object-fit: cover; object-position: 50% 70%; }
main .intro2 .text_box { width: 50%; margin: 0; }
main .intro2 .text_box h3 { font-size: 1rem; font-weight: 400; letter-spacing: 1px; margin: 0; }
main .intro2 .text_box p { font-size: 3.8rem; margin: 20px 0 40px; }
main .intro2 .text_box a { background-color: #ffffff; display: block; width: 150px; height: 53px; color: #121242; font-size: 0.9rem; line-height: 53px; margin: auto; border-radius: 5px; font-weight: 600; padding-left: 7px; }
main .intro2 .text_box a:hover { transform: translateY(-5px); transition: 0.5s; }
main .intro2 .text_box a::after { content: ">"; padding: 6px; font-family: cursive; }

main .intro3 { background-color: #121242; color: white; text-align: center; height: 800px; }
main .intro3 h2 { margin: 0; font-size: 3rem; padding-top: 100px; }
main .intro3 > p { color: rgba(500, 500, 500, 0.7); }
main .intro3 ul { display: flex; justify-content: center; position: relative; padding: 0; margin-top: 80px; flex-wrap: wrap; }
main .intro3 ul li { list-style: none; border: 1px white solid; border-radius: 50%; width: 22vw; min-width: 300px; height: 22vw; min-height: 300px; margin: 0; display: flex; flex-flow: column; justify-content: center; align-items: center; }
main .intro3 ul li:nth-child(1) { position: absolute; right: 59vw;}
main .intro3 ul li:nth-child(3) { position: absolute; left: 59vw;}
main .intro3 ul h3 { font-size: 1.9rem; width: 19vw; }
main .intro3 ul p { font-size:1rem; letter-spacing: 0.3px; width: 22vw; }

main .intro4 { height: 1000px; color: #121242; border-bottom: rgba(0,0,0,0.1) 1px solid;}
main .intro4 .text_box { display: flex; width: 70%; justify-content: center; margin: auto; padding: 100px 0 0; }
main .intro4 .text_box h2 { width: 40%; font-size: 2.2rem; line-height: 1.3; margin: 0; padding: 0; }
main .intro4 .text_box p { width: 40%; font-size: 1.1rem; line-height: 1.6; margin: 0; padding: 0; }
main .intro4 .list { position: relative; display: flex; justify-content: center; }
main .intro4 .list input.pre { border: #CACACA solid 1px; background-color: #ffffff; border-radius: 50%; width: 30px; height: 30px; cursor: pointer; transition: 0.3s; position: absolute; top: 280px; left: -15px; }
main .intro4 .list input.next { border: #CACACA solid 1px; background-color: #ffffff; border-radius: 50%; width: 30px; height: 30px; cursor: pointer; transition: 0.3s; position: absolute; top: 280px; right: -15px; }
main .intro4 input.pre:hover { transform: translateY(-5px); background-color: #121242; color: #ffffff; border-color: #121242; }
main .intro4 input.next:hover { transform: translateY(-5px); background-color: #121242; color: #ffffff; border-color: #121242; }
main .intro4 .list ul { display: flex; padding: 0; }
main .intro4 .list ul li { list-style: none; padding: 0; width: 420px; margin: 0 20px; background-color: #fff; height: 600px; position: relative; }
main .intro4 .list ul li img { width: 420px; }
main .intro4 .list ul li h3 { width:80%; margin: 30px auto 20px; font-size: 1.7rem; font-weight: 400; }
main .intro4 .list ul li p { width: 80%; margin: 0 auto; line-height: 1.7; }
main .intro4 .select { text-align: center; margin: 5vw auto; }
main .intro4 .select input { border: none; background-color: transparent; cursor: pointer; padding: 0 3px; margin: 0; transition: 0.3s; color: #7D7C7C; }
main .intro4 .select input:hover { transform: translateY(-5px); }
main .intro4 .select input:focus { color: #121242; }

main .videobox { height: 1150px; color: #121242; border-bottom: 1px solid rgba(196, 196, 196, 0.1); }
main .videobox .text_box { display: flex; width: 70%; justify-content: center; margin: auto; padding: 100px 0 50px; }
main .videobox .text_box h2 { font-size: 2.2rem; line-height: 1.5; width: 40%; }
main .videobox .text_box p { font-size: 1.1rem; line-height: 1.8; width: 40%; }
main .videobox .play { position: relative; width: 90%; }
main .videobox img { width: 100%; height: 40vw; object-fit: cover; }
main .videobox .play_btn { background-color: #121242; width: 80px; height: 80px; border-radius: 50%; box-sizing: border-box; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; cursor: pointer; transition: 0.3s; }
main .videobox .play_btn svg { fill: white; height: 27px; padding: 27px 31px; }
main .videobox .play_btn:hover { transform: scale(1.1); }

main .intro5 { height: 1000px; color: #121242; width: 80%; margin: auto; }
main .intro5 .cate { margin-top: 150px; text-align: center; }
main .intro5 .cate a { font-size: 1.5rem; color: #CACACA; font-weight: bold; margin: 0 15px; padding-bottom: 15px; }
main .intro5 .cate a:hover { color: #121242; transition: 0.4s; }
main .intro5 .cate a:focus { color: #121242; border-bottom: 3px solid #121242; }
main .intro5 ul { list-style: none; padding: 0; display: grid; grid-template-columns: 1fr 1fr 1fr; margin-top: 50px; height: 38vw; }
main .intro5 ul li { width: 95%; border: #121242 1px solid; margin: 10px; box-sizing: border-box; padding: 20px 50px; display: flex; flex-flow: column; justify-content: space-between;  }
main .intro5 ul li:first-of-type {  grid-row: 1 / span 2; }
main .intro5 ul li h3 { font-size: 1.8rem; }
main .intro5 ul li p { line-height: 1.8; }

main .contact { height: 1100px; background-color: #121242; color: white; position: relative; }
main .contact .contact_box { width: 45%; height: 500px; padding: 70px 150px; box-sizing: border-box; }
main .contact .contact_box p { font-size: 3rem; }
main .contact .contact_box .line { background-color: rgba(255, 255, 255, 0.2); width: 600px; height: 1px; }
main .contact .contact_box table { margin-top: 50px; }
main .contact .contact_box table td { padding: 10px 50px 0 0; }
main .contact > a { background: url(./image/map_d.png) no-repeat 100%; / cover; width: 50%; height: 500px; display: block; position: absolute; top: 0; right: 0; }
main .contact .instagram { width: 90%; height: 500px; display: flex; flex-flow: column; align-items: center; margin: 100px auto; }
main .contact .instagram h3 { font-size: 2rem; font-weight: 400; }
main .contact .instagram a { background: url(./image/insta.png.jpg) no-repeat; width: 90%; height: 300px; margin: 10px auto; }

footer .footer-box { width: 90%; display: flex; margin: 50px auto; color: #121242;  }
footer .footer-box h3 { width: 25%; padding-left: 100px; box-sizing: border-box; }
footer .footer-box ul { list-style: none; display: flex; width: 75%; }
footer .footer-box ul li { width: 30%; }
footer .footer-box ul h4 { letter-spacing: 1.8px; }
footer .footer-box ul p { line-height: 1.6; }
footer .footer-box ul li svg { fill: #7D7C7C; height: 13px; padding: 15px; }
footer .footer-box ul li svg:hover { fill: #121242; transform: translateY(-5px); transition: 0.4s linear; }
footer .info { height: 200px; background-color: rgba(88, 88, 88, 0.1); text-align: center; font-size: 0.9rem; box-sizing: border-box; padding-top: 50px; }
footer .info p { color: #121242; margin-bottom: 25px; }
footer .info .copyright a { color: #424242; }
footer .info .copyright a:hover { color: #7D7C7C; padding-bottom: 7px; border-bottom: #7D7C7C solid 1px; }

.up { width: 40px; height: 40px; background-color: rgba(0,0,0,0.2); display: block; position: fixed; bottom: 10px; right: 10px; border-radius: 2px; text-align: center; line-height: 43px; }
.up svg { fill: white; }
.up:hover { background-color: #121242; transition: 0.4s; }