@charset "utf-8" ;

/**** header ****/
.container header h1 {
   box-sizing: border-box;
   font-family: 'Playfair Display',serif;
   font-size: 33px;
   line-height: 0.9;
   background: #7d1e6a url(./logo.png) no-repeat 25px 50%/ 90px ;
   color: white;
   height: 130px;
   padding: 30px 0 0 120px;
   /* display: flex;
    align-items: center; 
   flex-flow: column;
   justify-content: center; */
 }
 .container header h1 em {
   display: block;
   font-family: 'Croissant One',cursive;
   font-size: 36px;
 }
 .container header .global_menu {
   background-color: #ffcd38;
   color: #7d1e6a;
   font-weight: 700;
   display: flex;
 }
 .container header .global_menu li a {
   display: block;
   width: 100px; height: 46px;
   text-align: center;
   line-height: 46px;
 }
 .container header .global_menu li a:hover {
   background-color: #e4010b;
   color: white;
 }