@charset "utf-8";
body {
   text-transform: capitalize;
   background-image:url(./halftone-yellow.png);
   font-family: '나눔고딕', 돋움, sans-serif;
   font-weight: bold;
}
section {
   border: 3px solid coral ;
   width: 800px;
   height: 750px;
   margin: auto;
   background-color: white;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
}
ul {
   width: 600px;
   padding: 10px;
   margin-top: 5px;
   line-height: 1.3rem;
}
li {
   list-style: none;
   display: inline-block;
}
li a {
   text-decoration: none;
   color: inherit;
}
h1 {
   background-color: rgb(129, 59, 156);
   color: white;
   height: 100px;
   display: flex;
   margin: 0;
   padding: 10px;
   align-items: center;
   line-height: 20px;
}
.one {
font-family:  '레시피코리아', Arial, Helvetica, sans-serif;
font-style: italic;
font-size: 1.5rem;
margin-top: 10px;
}
.two {
   font-family: 'segoe Script', Arial, Helvetica, sans-serif;
   font-size: 1.4rem;
}
header {
   background-color: gold;
   color:rgb(129, 59, 156);
   font-size: 0.88rem;
   height: 45px;
   padding: 0;
}
h1 img {
   width: 70px;
   margin: 0 10px 0 0;
}
main {
   background-color: rgb(219, 219, 219);
   padding: 0;
   display: flex;
   height: 100%;
}
figure {
   border: solid 2px lightpink;
   margin: 10px 10px 0 0;
   background-color: white;
   padding: 5px;
   line-height: 0.9rem;
}
figcaption {
   font-style: italic;
   font-weight: lighter;
   color: rgb(97, 97, 97);
   text-align: end;
}
h3 {
   color: tomato;
}
aside {
   background-color: snow;
   width: 200px;
   font-size: 0.88rem;
   color: rgb(97, 97, 97);
   border-left: 2px solid lightpink;
   margin: 0;
}
.box {
   display: flex;
}
.text {
   display: flex;
   flex-direction: column;
   width: 250px;
   margin-right: 10px;
   font-size: 0.9rem;
}
.text p {
   font-size: 0.85rem;
}
.text h2 {
   margin-top: 1.5rem;
   margin-bottom: 1.6rem;
   font-size: 1.5rem;
}
.text h3 {
   margin: 0;
}
.text p {
   color: rgb(97, 97, 97);
}
menu {
   padding: 0;
   margin: 0;
}
.menu a {
   display: block;
   padding: 10px 20px;
   width: 55px;
   text-align: center;
}
.food {
   display: flex;
   flex-direction: column;
}
.food li {
   border-bottom: 2px solid lightpink;
}
.food a {
   display: block;
   padding: 15px;
}
aside h2 {
   padding: 10px;
   color: brown;
   margin: 15px 0 20px 0;
}
aside p {
   margin: 0;
   padding: 10px;
}
footer {
   font-size: 0.6rem;
   font-weight: normal;
   height: 30px;
   line-height: 30px;
   padding-left: 20px;
   background-color: rgb(129, 59, 156);
   color: white;
}
main img {
   height: 200px; width: 300px;
   object-fit: cover;
}
.menu a:hover {
   background-color: coral;
   color: white;
}
.food a:hover {
 background-color: gold;
 color: rgb(129, 59, 156);
}