@charset "utf-8";

@keyframes img {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-50%);
    left: 50%;
  }
  30% {
    transform: translateX(-50%);
    left: 50%;
  }
  50% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(-1000px);
  }
}

@keyframes imgd {
  /* 0% {
    transform: translateX(0);
  } */
  10% {
    transform: translateX(-50%);
    left: 50%;
  }
  30% {
    transform: translateX(-50%);
    left: 50%;
  }
  50% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(-2000px);
  }
}
@keyframes bgc {
  35% {
    background-color: #ecebee;
  }
  40% {
    background-color: #c1e0d1;
  }
  65% {
    background-color: #c1e0d1;
  }
  70% {
    background-color: #fae1e3;
  }
  98% {
    background-color: #fae1e3;
  }
  100% {
    background-color: #ecebee;
  }
}

@keyframes page {
  0% {
    color: #212529;
    margin-right: 15px;
  }

  35% {
    color: #212529;
    margin-right: 15px;
  }
  40% {
    color: rgba(0, 0, 0, 0.4);
    margin-right: 0;
  }
}
